[options]
audible_bell = false
bold_is_bright = true
allow_bold = true
scrollback_lines = 2000
urgent_on_bell = true
cursor_shape = block
browser = sh/url2browser
clickable_url = true
hyperlinks = true
icon_name = terminal
font = Liberation Mono 9
[colors]
# LXTerminal's Tango colorscheme
# 16 color space

foreground          = rgb(211,215,207)
foreground_bold     = #ebdbb2
cursor              = #ebdbb2
cursor_foreground   = #1d2021
background = rgba(0, 0, 0, 0.9,1)

# Black, Gray, Silver, White
color0 = rgb(0,0,0)
color8 = rgb(85,87,83)
color7 = rgb(211,215,207)
color15 = rgb(238,238,236)

# Red
color1 = rgb(205,0,0)
color9 = rgb(239,41,41)

# Green
color2 = rgb(78,154,6)
color10 = rgb(138,226,52)

# Yellow
color3 = rgb(196,160,0)
color11 = rgb(252,233,79)

# Blue
color4 = rgb(52,101,164)
color12 = rgb(114,159,207)

# Purple
color5 = rgb(117,80,123)
color13 = rgb(173,127,168)

# Teal
color6 = rgb(6,152,154)
color14 = rgb(52,226,226)

# Extra colors
color16 = #fe8019
color17 = #d65d0e
color18 = #3c3836
color19 = #504945
color20 = #bdae93
color21 = #ebdbb2

